name: debug workflow

on:
  push:
  pull_request:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master
      - name: deps
        run: |
          sudo apt-get update
          sudo apt-get -y --no-install-recommends install \
               build-essential \
               automake \
               libfuse-dev \
               librlog-dev \
               libpoco-dev \
               libboost-dev \
               libdmalloc-dev
      - name: bootstrap
        run: sh bootstrap
      - name: configure
        run: |
          sh configure \
               --enable-gcc-debug \
               --enable-dmalloc-debug \
               --enable-gprof
      - name: clean
        run: make clean
      - name: make
        run: make -j
